
.projects {
    background-color: var(--bgColor)
  }

  
.project-row {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
}


