
/* ==Card style=== */

.projects-cards { 
    border: 5px solid #fff ; 
    min-height: 15em ; 
    width: 30.5em; 
    overflow: hidden ;
    margin-bottom: 20%;
}


.projects-img img {
    width: 30rem; 
    min-height: 40vh; 
}


.project-info {
    display: flex;
    justify-content: space-between ;
} 

.project-info h2  {
   margin-top: 10px ; 
   padding-left: 10px; 
} 

.projectTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

