
/* ==Card style=== */

.projects-cards { 
    border: 5px solid #fff ; 
    min-height: 15em ; 
    max-width: 200%; 
    overflow: hidden ;
    margin-bottom: 20%;
}

.projects-img {
    overflow: hidden;
}

.projects-img img {
    width: 30rem; 
    height: 35vh; 
}


.project-info {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    padding: 10px 0px;
} 

.project-info h2  {
   margin-top: 10px ; 
   
} 

.projectTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

@media  screen and (max-width:550px) {
    .projects-cards { 
       
       min-width: 100%; 
       
        
    }

    .projects-img img {
        width: 100%; 
    }
}