
.projects {
   margin-top: 122px; 
   background-color: #29797A;
}



.contentainer {

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
}


.projects-cards { 
    border: 5px solid black ; 
    min-height: 15em ; 
    width: 23em; 
    overflow: hidden ;
    margin: 20px ;

}


.projects-img img {
    width: 100%; 
    min-height: 40vh; 
}


.project-info {
    display: flex;
    justify-content: space-between ;
} 

.project-info h2  {
   margin-top: 10px ; 
   padding-left: 10px; 
} 


