
.home {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bgColor);  
    display: flex; 
    flex-direction: column;
}

/* // header  */




.container {
    flex-grow: 1; 
    display: flex; 
    align-items: center;  
    justify-content: space-between; 
}


.content  {
    padding: 7.5rem;  
    position: relative;
    bottom: 2.5rem;  
} 
.content  h3  {
 font-size: 2rem; 
 letter-spacing: 0.2rem;
}

.content h1 {
    font-size: 3rem; 
}

.content h2 {
    font-size: 3rem; 
    margin-bottom: 4rem;

}

.btn { 
    background-color: var(--MainColor); 
    border-radius: 28px; 
    text-align: center; 
    text-decoration: none; 
    color: var(--SecColor); 
    padding: 1.5rem;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.3em; 
    margin-bottom: 4rem ; 
    transition: 0.7s ease ;
} 


.btn:hover {
    background-color: aqua;
    transform : scale(1.1);
} 


.icon { 
    margin-top: 2.3rem; 
    margin-left: 1.3rem; 
    word-spacing: 3rem ; 

}

.icon a  {  
    text-decoration: none;
    transition: 4s;
    color: var(--SecColor); 
}

.hero {
    display: flex;
    align-items: flex-end ;
    position: relative;
}

.hero img {
    position: absolute;
    bottom: 2rem;
    left: 45rem ; 
    width: 400px;
    height: 400px; 
}

