
.home {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bgColor);  
    display: flex; 
    flex-direction: column;
}

/* // header  */


.container {
    flex-grow: 1; 
    display: flex; 
    align-items: center;  
    justify-content: space-between; 
}


.content  {
    padding: 7.5rem;  
    position: relative;
    bottom: 3.5rem;  
    color: #fff;
} 
.content  h3  {
 font-size: 2rem; 
 letter-spacing: 0.2rem;
}

.content h1 {
    font-size: 5rem; 
    font-family: monospace;
}

.content h2 {
    font-size: 3rem; 
    margin-bottom: 4rem;
    font-family: monospace;
    color: var(--MainColor);
}

.btn { 
    background-color: var(--MainColor); ; 
    border-radius: 10px; 
    text-align: center; 
    text-decoration: none; 
    color: var(--SecColor); 
    padding: 1.5rem;
    font-weight: '1000';
    font-size: 20px;
    letter-spacing: 0.1em; 
    margin-bottom: 4rem ; 
    transition: 0.7s ease-in-out ;
} 


.btn:hover {
    /* background-color: aqua; */
    /* transform : scale(1.1); */
    transform: scale(1.1);
} 


.icon { 
    margin-top: 2.3rem; 
    margin-left: 1.3rem; 
    word-spacing: 3rem ; 

}

.icon a  {  
    text-decoration: none;
    transition: 1s;
    color: var(--SecColor); 
    
}

.icon a:hover {
    color: var(--MainColor); 
}

.hero {
    display: flex;
    align-items: flex-end ;
    position: relative;
}

.hero img {
    position: absolute;
    bottom: 2rem;
    left: 74rem ; 
    width: 450px;
    height: 450px; 
}

