.About { 
    
    width   : 100%; 
    min-height: 80vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}



.codeing-Img img  {
    width: 600px;
    height: 600px; 
    padding: 10%;     
}


/* .About-info   {
    position: relative;
    left: 16%;
    margin-top: 6rem;
} */


.About-info  h2 {
    font-size: 2.5rem;       
}

.About-info  h2 span {
    font-size: 2.5rem;       
}

.About-info  p span {
    font-size: 1.4rem;       
}


.About-info  h1 {
    font-size: 1.5em; 
    margin-top: 1rem;       
}

.realeted {
    margin-bottom: 50px;
}
 
 .About-info  p {
    font-size: 1.4em; 
    margin-top: 2rem;    
 
} 
