@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap');

:root {
  --MainColor :#14b3b3;  
  --SecColor : white; 
  --bgColor : #171a1c;  
  --pading : 8%; 
}



* { 
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 16px; 
}

